body {
  font-family: 'IBM Plex Mono';
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 10rem !important;
  }
}

h1 {
  cursor: pointer;
}

.action-buttons .button:not(:last-child) {
  margin-right: 8px;
}

.is-flashing {
  animation: flash linear 1s infinite;
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: 0.55; } 
	100% { opacity: 1; }
}